

.bookCartBox{
    height: 300px;
    flex-wrap: wrap;
    width: 400px;
    padding: 30px;
    display: flex;
    /* flex-direction: column; */
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    border: 1px solid black;
    background-color: rgba(249, 225, 249, 0.862);
    border-radius: 11px;
    border: none;
    box-shadow: 2px 2px 2px black;
}
.bookCartBox span{
    font-weight: bold;
}



.searchTools input{
    height: 40px;
    width: 300px;

}


